    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>About Standard Hashrate Token</h2>
                <p>A significant impediment to participation in Bitcoin mining is the limited number of exit options. Bitcoin Standard Hashrate Token (“BTCST”) solves this problem by bringing exchange-grade liquidity to Bitcoin mining. </p>
                <p>Each BTCST is collateralized by 0.1 terahash per second (“TH/s”) of Bitcoin mining power. By staking BTCSTs, holders of the tokens will receive daily Bitcoin distributions that correspond to the mining power staked. </p>
                <p>What is more, because the market price of BTCST is determinable as the discounted cashflow of the underlying mining power, BTCST in secondary trading will perform as a leveraged Bitcoin token free from liquidation risk. BTCST will create an efficient market for Bitcoin mining power.</p>
            </div>
        </div>
    </section>