    <!-- Download Section -->
    <section id="download" class="content-section text-center">
        <div class="download-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>Download Whitepaper</h2>
                    <p>You can download our whitepaper here.</p>
                    <a href="https://www.1-b.tc/static/BTCST_Whitepaper.pdf" class="btn btn-default btn-lg" target="_blank">Download Our Whitepaper</a>
                    <a href="https://www.1-b.tc/static/Certik_Final_Report_for_BTCST.pdf" class="btn btn-default btn-lg" target="_blank">Download CertiK Report</a>
                </div>
            </div>
        </div>
    </section>