<section class="swiper-slide section section--btcst" data-hash="btcst">
  <div class="section__layout">
    <div class="btcst-overview">
      <div class="btcst-title">BTCST</div>
      <div class="btcst-second-title">Bitcoin Standard Hashrate Token</div>
      <div class="btcst-content">
        Bitcoin Standard Hashrate Token is the bridge between Bitcoin hashrate
        assets and the DeFi world. Each BTCST is collateralized with 0.1 TH/s of
        Bitcoin mining power. By staking BTCSTs, token holders are entitled to
        Bitcoin rewards and more.
      </div>
      <a href="https://www.1-b.tc/static/BTCST_Whitepaper.pdf" target="_blank" class="btcst-link">
        <div class="btcst-link-icon">
          <span></span>
          <span></span>
        </div>
        <div class="btcst-link-content">Read the Whitepaper</div>
      </a>
    </div>

    <div class="btcst-list">
      <div class="btcst-list-item active">
        <div class="btcst-list-item-header">
          <div class="btcst-list-item-title">BTCST Brings Bitcoin to DeFi</div>
          <div class="btcst-list-item-icon"></div>
        </div>
        <div class="btcst-list-item-content">
          BTCST is an asset protocol that brings Bitcoin hashrate assets to
          DeFi. It serves as a strong foundation for other DeFi trading,
          lending, and borrowing protocols to build on.
        </div>
      </div>
      <div class="btcst-list-item">
        <div class="btcst-list-item-header">
          <div class="btcst-list-item-title">Exchange Grade Liquidity</div>
          <div class="btcst-list-item-icon"></div>
        </div>
        <div class="btcst-list-item-content">
          BTCST brings exchange‐grade liquidity to hashrate assets so that
          market participants can easily enter and exit mining exposure in any
          size and at any time.
        </div>
      </div>
      <div class="btcst-list-item">
        <div class="btcst-list-item-header">
          <div class="btcst-list-item-title">Transparent Governance</div>
          <div class="btcst-list-item-icon"></div>
        </div>
        <div class="btcst-list-item-content">
          BTCST is governed transparently as a DAO. Token holders, including our
          miner members and the broader token community, will collectively
          decide on material issues of the project, with all proposals, votes
          and outcomes preserved and disclosed on‐chain.
        </div>
      </div>
    </div>
  </div>

  <div class="mobile-pagination" data-index="1">
    <span></span>
  </div>
</section>
