<section class="swiper-slide section section--home" data-hash="home">
  <div class="section__layout">
    <div class="home-title">
      <div>BTCST</div>
      <div>Brings Bitcoin</div>
      <div>To DeFi.</div>
    </div>
    <a href="./static/1614345583076791.mp4" class="home-video" target="_blank"></a>
    <video class="home-logo" src="./static/1614345013168905logo.mp4" muted autoplay loop></video>
    <img class="home-logo-img" src="./static/home-logo.png" alt="">
    <div class="home-video-link">
      <div class="link1">Joint  recommendation</div>
      <a class="link2" href="./static/1614345583076791.mp4" target="_blank">
        <img src="./static/home-play.png" alt="">
        watch the video
      </a>
    </div>
  </div>
  <div class="mobile-pagination">
    <span></span>
  </div>
</section>
