<section class="swiper-slide section section--members" data-hash="members">
  <div class="section__layout">
    <div class="members-overview">
      <div class="members-title">Members</div>
      <div class="members-second-title">
        Backed by Largest Bitcoin Miners in the World
      </div>
      <div class="members-content">
        Standard Hashrate Group is backed by industrial‐scale Bitcoin miners who
        collectively control about 12% of Bitcoin’s global hashrate as of
        January 2021. Our members contribute unparalleled experience and
        insights in Bitcoin mining and hashrate stability assurance.
      </div>
      <div class="members-link">
        <div class="members-link-icon">
          <span></span>
          <span></span>
        </div>
        <div class="members-link-content">Read the Press Release</div>
      </div>
    </div>

    <div class="members-detail">
      <div class="members-list">
        <div class="members-list-row">
          <a class="item-1" href="/"></a>
          <a class="item-2" href="/"></a>
          <a class="item-3" href="/"></a>
        </div>
        <div class="members-list-row">
          <a class="item-4" href="/"></a>
          <a class="item-5" href="/"></a>
          <a class="item-6" href="/"></a>
        </div>
        <div class="members-list-row">
          <a class="item-7" href="/"></a>
          <a class="item-8" href="/"></a>
          <a class="item-9" href="/"></a>
        </div>
      </div>

      <!-- <div class="swiper-container members-comment-list">
        <div class="members-comment-list-wrapper swiper-wrapper">
          <div class="swiper-slide members-comment">
            123
          </div>
          <div class="swiper-slide members-comment">
            456
          </div>
          <div class="swiper-slide members-comment">
            789
          </div>
        </div>
      </div> -->
    </div>
  </div>
  <div class="mobile-pagination">
    <span></span>
  </div>
</section>
