<section class="swiper-slide section section--members" data-hash="members">
  <div class="section__layout">
    <div class="members-overview">
      <div class="members-title">Partners</div>
      <div class="members-second-title">
        Backed by Largest Bitcoin Miners in the World
      </div>
      <div class="members-content">
        Standard Hashrate Group is backed by industrial‐scale Bitcoin miners who
        collectively represent about 12% of Bitcoin’s global hashrate as of
        February 2021. Our members contribute unparalleled experience and
        insights in Bitcoin mining and hashrate stability assurance.
      </div>
      <a href="https://cointelegraph.com/press‐releases/atlas‐mining‐btctop‐
easy2mine‐genesis‐mining‐hengjia‐joins‐btcst" target="_blank" class="members-link">
        <div class="members-link-icon">
          <span></span>
          <span></span>
        </div>
        <div class="members-link-content">Read the Press Release</div>
      </a>
    </div>

    <div class="members-detail">
      <div class="members-list">
        <div class="members-list-row">
          <div class="item item-1"></div>
          <div class="item item-2"></div>
          <div class="item item-3"></div>
        </div>
        <div class="members-list-row">
          <div class="item item-4"></div>
          <div class="item item-5"></div>
          <div class="item item-6"></div>
        </div>
        <div class="members-list-row">
          <div class="item item-7"></div>
          <div class="item item-8"></div>
          <div class="item item-9"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="mobile-pagination last" data-index="4">
    <span></span>
  </div>
</section>
