<section class="swiper-slide section section--milepost" data-hash="milepost">
  <div class="section__layout">
    <div class="colorbox">
      <div class="boxitem">
        <div>Total Value Locked</div>
        <div class="num tvl-num">-</div>
      </div>
      <div class="boxitem">
        <div>Active Addresses</div>
        <div class="num active-address-num">-</div>
      </div>
      <div class="boxitem">
        <div>BSC Transactions</div>
        <div class="num bsc-tx-num">-</div>
      </div>
    </div>
  </div>
  <div class="mobile-pagination" data-index="3">
    <span></span>
  </div>
</section>
