<section class="swiper-slide section section--milepost" data-hash="milepost">
  <div class="section__layout">
    <div class="colorbox">
      <div class="boxitem">
        <div>Total Value Locked</div>
        <div class="num">$10,000</div>
      </div>
      <div class="boxitem">
        <div>Active Addresses</div>
        <div class="num">32,000</div>
      </div>
      <div class="boxitem">
        <div>BSC Transactions</div>
        <div class="num">32,000</div>
      </div>
    </div>
  </div>
  <div class="mobile-pagination">
    <span></span>
  </div>
</section>
