<section class="swiper-slide section section--tau" data-hash="tau">
  <div class="section__layout">
    <!-- <div class="tau-bg">
    
    </div> -->
    <div class="tau-overview">
      <div class="tau-title">Tau</div>
      <div class="tau-second-title">
        A protocol to synthesize PoW assets
      </div>
      <div class="tau-content">
          τ is a protocol to synthesize proof‐of‐work cryptocurrencies. By
        synthesizing the mining process, the τ protocol creates synthetic
        proof‐of‐work cryptocurrencies with provable value support and strong
        mechanisms to restore price pegs.
      </div>
      <div class="tau-link">
        <div class="tau-link-icon">
          <span></span>
          <span></span>
        </div>
        <div class="tau-link-content">Read the Press Release</div>
      </div>
    </div>

    <div class="tau-list">
      <div class="tau-list-item active">
        <div class="tau-list-item-header">
          <div class="tau-list-item-title">
            Synthetic Mining
          </div>
          <div class="tau-list-item-icon"></div>
        </div>
        <div class="tau-list-item-content">
          τ protocol synthesizes the mining process and imparts inherent value to synthetic PoW assets
        </div>
      </div>
      <div class="tau-list-item">
        <div class="tau-list-item-header">
          <div class="tau-list-item-title">
            Synthetic Mining
          </div>
          <div class="tau-list-item-icon"></div>
        </div>
        <div class="tau-list-item-content">
          τ protocol synthesizes the mining process and imparts inherent value to synthetic PoW assets
        </div>
      </div>
      <div class="tau-list-item">
        <div class="tau-list-item-header">
          <div class="tau-list-item-title">
            Synthetic Mining
          </div>
          <div class="tau-list-item-icon"></div>
        </div>
        <div class="tau-list-item-content">
          τ protocol synthesizes the mining process and imparts inherent value to synthetic PoW assets
        </div>
      </div>
    </div>
    
  </div>
  
  <div class="mobile-pagination" data-index="2">
    <span></span>
  </div>
</section>
